html {
    background-color: #C6C0A0;
    font-family: Georgia;    
}
h2 {
    color: #7D775C;
    text-align: center;
    
}
h3 {
    color: #7D775C;
    font-size: 12px;
    letter-spacing: 1px;
}
ul {
    line-height: 2em;
}
#colored {
    color: green; 
}
#dure {
    color: red;
    font-size: 1.5em;
    text-decoration: underline;
}

#container {
    color: #555753;
    background-color: white;
    font-family: Georgia;
    font-size: 0.75em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 8px 8px 12px #aaa;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
}
#container , h2 {
    padding-left: auto;
    padding-right: auto;
}
body {
    width:80%;
    margin-left: auto;
    margin-right: auto;
}