@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
body{
    height: 1280px;
}
p {
    padding: 5 auto 10 10;
    font-family: 'Jura', sans-serif;
    color: antiquewhite;
    text-align: justify;
  }
#mapmonde {
    float: right;
    width: 50%;
    height: auto;
    margin:20PX 170px 20px 20px;
    padding: 20px auto 20px 20px;
}
#explain {
    width: 50%;
    padding: 20px 20px 20px 0;
    margin: 20px;

}
#eqgif {
    float: left;
    padding-top: 15px;
    padding-right: 20px;

}  
@media(max-width:767px){
    body {
        width: 767px;
    }
    #entete {
        width: 100%;
        display: flex;
    }
    #explain {
        width: 100%;
    }
    
    #eqgif {
        width: 70%;
        height: auto;
    }
    #h_un {
        display: flex;
        flex-wrap: wrap;
    }
    a,
    p,
    ul,
    li,
    th,
    td,
    h1,
    h4,
    caption {
      font-size: xx-large
    }

    #mapmonde {
    float: right;
    width: 100%;
    height: auto;
    margin:2px;
    padding: 2px;
    }  
}
@media(max-width:720px){
    body {
        width: 720px;
        height: auto;
        flex-wrap: wrap;
    }
    #entete {
        width: 100%;
        display: flex;
    }
    #explain {
        width: 100%;
    }
    
    #eqgif {
        width: 70%;
        height: auto;
    }
    #h_un {
        display: flex;
        flex-wrap: wrap;
    }
    a,
    p,
    ul,
    li,
    th,
    td,
    h1,
    h4,
    caption {
      font-size: xx-large
    }

    #mapmonde {
    float: right;
    width: 100%;
    height: auto;
    margin:2px;
    padding: 2px;
    }  
}

@media(min-width:992px){}
@media(min-width:1200px){}