html {
  scroll-behavior: smooth ;
}
head {
height: 100%;
margin-top: 0px;
display: flex;
align-items: center;
align-content: over;

justify-content: space-between;
}
hr {
  display: block;
  margin: 1em 0 1em 0;
}
table {
  border: medium solid #000000;
  width: 50%;
  margin-left: 25%;
  }
  td {
    border: thin solid #000000;
    width: 50%;
    border-collapse:collapse;
    }
  .container {
  position: absolute;
  display: flex;
  flex-direction: row;/*occupe toute la place disponible */
  gap: 20px 10px; /* espacement entre les lignes et colones */
  width: 20em; /*largeur */
  height: 15em; /*hauteur */
  min-height: auto;
  margin: auto; 
  background: #ffffff;
  text-decoration: none;

  }
 
  .container2 {
  display: flex;
  flex-direction: row;/*affiche le contenu en ligne */
  gap: 20px 10px; /* espacement entre les lignes et colones */
  width: 800px; /*largeur */
  height: 100px; /*hauteur */
  margin: auto; 
  background: #ffffff;
  text-decoration: none;
}
  .container3 {
  display: flex;
  align-content: stretch;/*occupe toute la place disponible */
  gap: 20px 10px; /* espacement entre les lignes et colones */
  width: 800px; /*largeur */
  height: 100px; /*hauteur */
  margin: auto; 
  background: #ffffff;
  text-decoration: none;
}
  img {
  position:static;
  width : 150px;
  height : auto;
  max-height : 400px;
  margin: 0 0 1em 0;
  
  }
  #cawotte1 {
    margin-left: 20%;
    padding-left: 5em;
    padding-top: 2em;
  }
  #nom {
    position:static;
    width: 25em;
    max-width: 100%;
    height: auto;
    margin: 2em;
    padding: 4em 5em 2em 5em;
  }
  #cawotte2 {
    padding-left: 2em;
    padding-top: 2em;
  } 
  #rech {
   
   width: 11em; 
   float: right;
  }
  #brech {
   width: 8em;
   float: right;
  }
  #kelloggs {
    width: 24em;
    height: auto;
    max-height: 500px;
  }
body {
background: linear-gradient(135deg, white 60%, #eab960);
height: 100%;
width: auto;
display: flex;
flex-direction: column;
}    

ul {
    padding: 15em;
    margin: 2em 15em 2em 5em ;

}
li ul, li em  { /* closed */
    position:absolute;
    left:-9999px; /*   loins des yeux et loin du coeur...   */
    color: aliceblue;
  }
  li:focus ul, li:active ul {/* opened*/
    left:-1.5em;
    right:-1.5em;
  }
  li:focus em,li:active em {/* closes (li looses focus)*/
    right:0em;
    left:auto;
  }
  
  /* mise en forme minimaliste */
  ul {margin:0;padding:0;
     color:aliceblue;
    }
  ul li {position:relative;display:inline-block;margin:0 1em;padding:0 0.5em;background:#c79b49;box-shadow:0 0 5px;
  }
  li li {display:block;}
  li em {
    padding:2em 2em 2em 2em;
    background:lightgray;
    border-radius:5%;
    height:2em;
    line-height:5em;
    display:inline-block;
  }
   #kelloggs {
    padding-top: 1em;
    padding-left: 2em;
  }
  #codeb {
    padding: 1em -5em 1em 5em;
    margin-left: 25%;
  }
  #sh {
    min-width: 11em;
    min-height: 2.5em;
  }
  #scored {
    padding: 2em 5em 2em 5em;
  }
  #reperes {
    min-width: 20em;
    min-height: auto;
  }
  footer {
    text-align: center;
    position: inherit;
  }
   
