
body {
    height: 1300px;
    width: auto;
    padding: 0% 0% 0% 0%;
    background-image: url("/Images/back.jpg");
    background-repeat:repeat-y ;
    background-size: contain;
}
.titre {
    text-align: center;
    border-style:groove;
    padding: 1em 2em 1em 2em;
    margin: 4em 12em 4em 12em ;
    background-color: #baffb0;
}
.titre h5 {
    padding: 0;
}
.col-4 {
    text-align: center;
    align-content: center;
    border-style:groove;
    padding: 1%;
    margin: 2em;
    background-color: #baffb0;
}


.search {
    margin: 0 3em 0 3em;
    align-content: center;

}
