
body {
    height: 1300px;
    width: auto;
    padding: 0% 0% 0% 0%;
    background-image: url("/Images/back.jpg");
    background-repeat:repeat-y ;
    background-size: cover;
}
.titre {
    text-align: center;
    border-style:groove;
    padding: 0.5em 2em 1em 2em;
    margin: 4em 18.7em 1em 18.85em ;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px #000000;
    border-radius:1em 1em;
}
.titre h5 {
    padding: 0;
}
#caroussel {
    height: 35em;
    width: 40em;
    max-height: 43em;
    border-style: groove;
    background-color: #ffffff;
    border-radius: 1em 1em;
    margin-left: 1em;
    padding: 0 4em 0 4em;
    box-shadow: 10px 10px 10px #000000;
}
#ingredients{
    text-align: left;
    align-content: center;
    border-style: groove;
    background-color: #ffffff;
    border-radius: 1em 1em;
    height: 91%; 
    width: 45em;
    box-shadow: 10px 10px 10px #000000;
    margin-right: 15em;

}
#ingredients p , h3 {
    padding: 2% 1% 2% 1%;
}
.search  {

    align-content:space-between;
    background-color: #ffffff;
    border-style:groove;
    border-radius: 5%;
    border-radius: 1em 1em;
    height: 2.5em;
    width: 18.5em;
    padding: 2em 46em 5em 35em;
    margin: 0em 1.8em 1em 1em ;
    box-shadow: 10px 10px 10px #000000;
}
.search input {
  padding: 0;
  margin: 0;
}
#champs{
    margin-top: -1.2em;
}
#scann {
    padding-left: 3em;
    padding-right: 3em;
    margin-top: 0.5em;
    margin-left: 5em;
}
#allergenes {
    border-style: groove;
    background-color: #ffffff;
    border-radius: 1em 1em;
    margin:2em 7em 1em 1.25em; 
    padding: 2em 2em 5em 2.2em ;
    font-size: medium;
    box-shadow: 10px 10px 10px #000000;
}
#nova , #analyse , #infonut{
    height: 30em;
    width: 25em;
    max-height: 30em;
    border-style: groove;
    background-color: #ffffff;
    border-radius: 1em 1em;
    box-shadow: 10px 10px 10px #000000;
}
#nova {
    padding: 2em 1em 0 1em;
}
#infonut h4 {
     padding: 0.5em 0 0.3em 2em ;
}
#analyse {
    padding: 2em 1em 0 1em;
}
#nova4 {
    padding: 2em 0 3em 9em;
}
#tab {
    padding: 2em 1em 2em 1em;
    max-height: 21em;
}
    
#scored {
    max-width: 20em;
    padding: 1em;

}
#sh {
    padding: 2em 0 2em 3.5em;
}
#veg{
    padding: 2em 0 2em 5.5em;
}
#infos {
    border-style: groove;
    background-color: #ffffff;
    border-radius: 1em 1em;
    margin:2em 7em 1em 1.25em; 
    padding: 2em 2em 5em 2.2em ;
    font-size: medium;
    box-shadow: 10px 10px 10px #000000;
}
#contact {
    margin-left: 70%;
}
#copyright {
    
    border-style: groove;
    background-color: #ffffff;
    border-radius: 1em 1em;
    margin:2em 7em 1em 1.25em; 
    padding: 2em ;
    font-size: medium;
    text-align: center;
    box-shadow: 10px 10px 10px #000000;
}
