
body {
    height: 1300px;
    width: auto;
    padding: 0% 0% 0% 0%;
    background-image: url("/Images/back.jpg");
    background-repeat:repeat-y ;
    background-size: cover;
}
.titre {
    text-align: center;
    border-style:groove;
    padding: 1em 2em 1em 2em;
    margin: 4em 12em 4em 12em ;
    background-color: #baffb0;
}
.titre h5 {
    padding: 0;
}
#caroussel ,#ingredients{
    text-align: center;
    align-content: center;
    border-style:groove;
    padding: 1%;
    margin: 2em;
    background-color: #baffb0;
}


.search input {

    align-content: center;
    background-color: #baffb0;
    border-style:groove;
    height: 2.5em;
    width: 20em;
    padding: 1em 2em 1em 2em;
    margin: 0.5em 5em 0.5em 12em ;

}

.container {
    max-width: 40%;
    max-width: 40%;
    height: 10%;
    width: 40%;
    align-content: center;
    background-color: #baffb0;
    border-style:groove;
}
.search button {
    padding-left: 6em;
    background-color: aquamarine;
}
.carousel-inner {
    background-color: #baffb0;
    border-style:groove;
}
.scann {
    padding-bottom: 1em;
}