/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
}
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 h2, h3, h4, h5, h6, p, ul, li ul #nav  {
    font-family: 'Roboto Mono', monospace;
    color: #F2C84B;
}
li
h1 {
    font-family: 'Inconsolata', monospace;
    color: #F2C84B;
}

#container {
    width: 360;
    background-color: #0D0D0D;
}

#nav {
    color: #F2C84B;
}
