/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
}
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 h2, h3, h4, h5, h6, p, ul, li, #container > #nav > ul > li {
    font-family: 'Roboto Mono', monospace;
    color: #F2C84B;
    text-decoration: #F2C84B;

}

h1 {
    font-family: 'Inconsolata', monospace;
    font-style: #F2C84B;
    text-decoration: #F2C84B;
}

#container {
    width: 360;
    
}

#nav {
    color: #F2C84B;
    list-style-type: style color #F2C84B ;
    font-family: 'Roboto Mono', monospace;

}
#body {
    background-color: #2F3640;
}