* {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(61, 57, 57);
    text-decoration: none, ;
}

@font-face {
	font-family: "Ma Super Fonte";
	src: url('../fonts/Starjout.ttf');
}

body {
    width: 80%;
}

h1 {
    font-family: "Ma Super Fonte";
    color: rgb(233, 193, 14);
    font-size: 10vw;
}

