$yellow: #ff0;
$light_yellow: #ff4;
$dark_grey: #222;
$light_grey: #444;
$silver: #eee;

$grandHotel:"Grand Hotel", serif;
$openSans:"Open Sans", helvetica, arial, sans-serif;

/* ###################### HEADER #############################*/

header{
    background-color: $dark_grey;
    padding: 5%;
    h1{
        color: $yellow;
        font-family: $grandHotel;
        margin: 0;
        text-align: center;
    }
    p{
        color: $light;
        font-family: $openSans;
        text-align: center;
    }
}

h1 menu {
    color: $yellow;
}
h1 .limonade {
    
}
a{
    color: $$dark_grey;
}
h1 body {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $dark-main-color;
}
ul {
    list-style: none;
    &:hover{
        background-color: silver;
    }
    li{
        color: red;
    }
}