@media only screen and (min-width: 500px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }  
}
@media only screen and (min-width: 850px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

body {
  font: 1em sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  font: 10vw ;
  font-family: 'Bangers', cursive;
  text-align: center;
}

form {
  max-width: 300px;
  margin: 0;
  padding: 0 5px;
}
#listpreview{
  margin: 5vw;
}
p > label {
  display: block;
}
#preview {
 max-height: 20%;
 display: flex;
 flex-wrap: wrap;
 text-decoration: none;
 color: #444;
 box-shadow: 0 2px 5px rgba(0,0,0,0.5);
 margin: 5%;
 border: solid, black, 2px;
 padding: auto;
 border-radius: 5px;
 width: 90%;
 max-width: 100%;
 min-width: 50%;
 margin: 0 auto;  
 grid-template-columns: 1fr;
 grid-template-rows: auto;
 grid-gap: 20px;

}

.card {
  border-radius: 5%;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  max-width: 40%;
}
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
fieldset {
  /* requis pour composer de manière appropriée les éléments
     de formulaire sur les navigateurs fondés sur WebKit */
  -webkit-appearance:listbox;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

#erreur {
  color: red;
}