@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
body{
    height: 1280px;
}
p {
    padding: 5 auto 10 10;
    font-family: 'Jura', sans-serif;
    color: antiquewhite;
    text-align: justify;
  }
#mapmonde {
    float: right;
    width: 50%;
    height: auto;
    margin:20PX 170px 20px 20px;
    padding: 20px auto 20px 20px;
}
#explain {
    width: 50%;
    padding: 20px 20px 20px 0;
    margin: 20px;

}
#eqgif {
    float: left;
    padding-top: 15px;
    padding-right: 20px;

}  
@media(max-width:767px){
    body {
        width: 767px;
    }
    p {
        font-size: medium;
    }
    
    #mapmonde {
    float: right;
    width: 50%;
    height: auto;
    margin:2PX 15px 2px 2px;
    padding: 2px auto 2px 2px;
    }  
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}