@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

.logoeqII {
  margin: 0px auto 20px 0px;
  padding: 5px auto 30px 5px;
}

p {
  padding: 5 auto 10 10;
  font-family: 'Jura', sans-serif;
  color: antiquewhite;
  text-align: justify;
}

ul,
li>ul {
  padding: 50px 0 20px 300px;
}

h1,
h4,
a,
.gorowin,
img {
  flex-wrap: wrap;
  display: flex;

}

.gorowin a span {
  display: none;
}

.gorowin a:hover span {
  flex-wrap: wrap;
  display: flex;
  margin: 0 0 0 0
}


.pic-ctn>img {

  width: auto;
  max-height: 300px;
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;

}

img:nth-child(2) {
  animation-delay: 2s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 6s;
}

img:nth-child(5) {
  animation-delay: 8s;
}

/*-------tableaux-----------------------*/
table,
td,
th {
  border: solid antiquewhite;
}

td,
th,
a {
  color: #fdce4c;
}

table {
  margin-left: 15%;
}

caption,
h4 {
  color: antiquewhite;
}

hr {
  color: #fdce4c;
  border: solid;
}

@media(max-width:767px) {
  body {
    width: 767px;
  }

  p,
  ul,
  li,
  th,
  td,
  h1,
  h4 {
    font-size: xx-large
  }

  /* caroussel*/

}

.pic-ctn {
  position: relative;
  width: 490px;
  height: 200px;
  margin: 10px 0 10px 0;
}

.pic-ctn>img {

  width: auto;
  max-height: 300px;
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;

}

.pic {
  width: auto;
  max-height: 300px;

}

img:nth-child(2) {
  animation-delay: 2s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 6s;
}

img:nth-child(5) {
  animation-delay: 8s;
}

@media(min-width:768px) {
  body {
    width: 768px;
  }

  p {
    font-size: large;
  }
}

@media(min-width:992px) {
  body {
    width: 992px;
  }

  p {
    font-size: larger;
  }
}

@media(min-width:1200px) {

  /*-------------------caroussels----------*/
  .pic-ctn {
    width: 800px;
    height: 200px;
  }

  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }

    10% {
      transform: translateX(0);
      opacity: 1;
    }

    20% {
      transform: translateX(0);
      opacity: 1;
    }

    30% {
      transform: translateX(-200px);
      opacity: 0;
    }

    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }

  .pic-ctn {
    position: relative;
    width: 700px;
    height: 300px;
    margin: 35px 0 35px 30px;
  }

  body {
    width: 1200px;
  }

  p {
    font-size: medium;
  }
}